{% extends "base.html" %}

<style>
{% block css %}
.navbar-static-top {
	margin-bottom: 0px;
}
#register_login_tabs .panel{
	border-top: 0;
  	border-radius: 0 4px 4px 4px;
}
{% endblock %}
</style>

{% block jumbotron %}
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1>{{ obj.title }}</h1>
				<p class="lead">{{ obj.description|urlize }}</p>
				{% if obj.tags.all %}
					<div class="tags pull-left">
						<ul class="list-inline">
						<li>Tags:</li>
						{% for tag in obj.tags.all %}
							<li><a href=""><span class="label label-default">{{ tag.tag }}</span></a></li>
						{% endfor %}
						</ul>
					</div>
				{% endif%}
			</div>
			<div class="col-sm-6">
				<img src="{{ obj.get_image_url }}" alt="" class="img-responsive">
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}

<div class="row">
	<div class="col-xs-12">
		{% if queryset %}
		<hr />
		<p class="lead">Videos</p>
		<div class="row">
			<div class="col-sm-4">
				<div class="list-group">
				{% for item in queryset %}
				{% if forloop.counter|divisibleby:10 %}
				</div>
				</div>
				<div class="col-sm-4">
				<div class="list-group">
				{% endif %}
				<a href="{{ item.get_absolute_url }}" class="list-group-item{% if item.has_preview %} list-group-item-success{% endif %}">
					{{ forloop.counter }} - {{ item }}
				</a>
				{% endfor %}
				</div>
			</div>
		</div>
		{% else %}
			<h3 style="text-align:center">Coming Soon...</h3>
		{% endif %}
	</div>
</div>
{% endblock %}