{% extends "base.html" %}
{% load crispy_forms_tags %}

<style>
{% block css %}
label.control-label {
	display: none;
}
.navbar-static-top {
	margin-bottom: 0px;
}
#register_login_tabs .panel{
	border-top: 0;
  	border-radius: 0 4px 4px 4px;
}
{% endblock %}
</style>

{% block jumbotron %}
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1>Welcome!</h1>
				<p class="lead">Srvup Site here</p>		
			</div>
			<div class="col-sm-6" id="register_login_tabs">
				<div class="panel panel-default">
					<div class="panel-body">
						<div role="tabpanel">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#register" aria-controls="register" role="tab" data-toggle="tab">Register</a></li>
								<li role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
							</ul>
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="register">
									<div class="panel panel-default">
										<div class="panel-body">
											<form action="{% url 'register' %}" method="POST"> {% csrf_token %}
												{{ register_form|crispy }}
												<input type="submit" value="Register" class="btn btn-success btn-block">
											</form>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="login">
									<div class="panel panel-default">
										<div class="panel-body">
											<form action="{% url 'login' %}" method="POST"> {% csrf_token %}
												{{ login_form|crispy }}
												<input type="submit" value="Login" class="btn btn-primary btn-block">
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
{% endblock %}